.img_banner{
    background-image: url("./img/background_img.webp");
    background-position: center;
    background-size: cover;
    height: 110vh;
}
.position-absolute{
    background-color: var(--white-background-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.slider-circle:hover{
    width: 60px;
    height: 60px;
}
#arrow{

    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}