.content_home{
    text-align: center;
    margin: 50px;
}
.subheading{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
}
.tab_nav{
    display: flex;
    gap: 70px;
    justify-content: center;
    
}
.tab_title{
    margin: 30px 0;
}
.tab_nav a{
    color: var(--black-color);
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 10px 0;
   
}
/* kết thúc phần h1 mỗi sản phẩm */
/* show sản phẩm */

.img_product{

    height: 250px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
}
/* kho ảnh */
.img_item_1{
    background-image: url("./img/another13.jpg");
    
}
.img_item_2{
    background-image: url("./img/Santal33.jpg");
}
.img_item_3{
    background-image: url("./img/thenoir29.jpg");
}
.img_item_4{
    background-image: url("./img/Vetiver46.jpg");
}
.img_item_5{
    background-image: url("./img/nenthom.webp");
}
.img_item_6{
    background-image: url("./img/nenthom1.webp");
}
.img_item_7{
    background-image: url("./img/suatam.webp");
}
.img_item_8{
    background-image: url("./img/suatam2.webp");
}
/* .img_item_9{

}
.img_item_10{

}
.img_item_11{

} */
/* kho ảnh */
/* làm tooltip cho ảnh */
.img_product p{
    color: var(--white-color);
    background-color: rgba(10, 9, 9, 0.5);
    padding: 10px;
    transform: translateY(250px);
    transition: 0.5s;
}
.img_product:hover p{
    transform: translateY(209px);
}
#product{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;

}
/* toooltip cho ảnh */
/* button cho ảnh */
.show_more a{
    color: var(--white-color);
    text-transform: uppercase;

}
.show_more button{
    border: none;
    padding: 10px 30px;
    background-color: var(--black-color);
}
/* banner cho anhr */
.show_more_product{
    width: 450px;
    height: 500px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
}
.banner_flex{
    display: flex;
    justify-content: space-around;
}